<div class="flex-pokemon">

    <h1> Liste de pokemon</h1>
    <input 
        class="research-pokemon"
        #input 
        type="number" name="" id=""
        (keyup.enter)="selectPokemon(+input.value)"
    > <!--#input est une variable , keyup permet de mettre à jour en teemp reel pas besoin de click ou faire entrer  -->
</div>

<p *ngIf="pokemonSelected" class="find-pokemon">Vous avez selectionné le pokemon : {{pokemonSelected?.name }}</p>
<!--Condition ngif = si j'ai un pokemon selectionne (il nest pas undefined)-->
<p *ngIf="!pokemonSelected" class="find-pokemon">Aucun pokémon n'a été trouvé.</p>
<div class="grid-pokemon">
    <div *ngFor="let pokemon of pokemonList" class="each-pokemon" appBorderCard (click)="selectPokemon(pokemon.id)">
        <div class="img-pokemon"><!--rajout de la directive appBorderCard et le "appbordercard=red" permet de redefinir la couleur de la bordure -->
        <img [src]="pokemon.picture" [alt]="pokemon.name">
        </div>
        <div class="text-pokemon">
            <p><strong>{{ pokemon.name}}</strong></p>
            <p><!--pipe date permet un formatage plus elegant --> {{pokemon.created | date:"dd/MM/yyyy" | uppercase }}</p> 
            <!--pipes angular par defaut regarder la doc sur internet -->
            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{type}}</span>
        </div>
    </div>
</div>
    