<div *ngIf="pokemon" class="flex-pokemon-center-column">
    <h2>{{ pokemon.name }}</h2>
    <div class="box-shadow box-pokemon">

        <div class="flex-pokemon" >
            <div>
                <img [src]="pokemon.picture">
            </div>
            <table class="detail-pokemon">
                <tr></tr>
                <tr>
                    <td>Nom</td>
                    <td><strong>{{ pokemon.name }}</strong></td>
                </tr>
                <tr>
                    <td>Points de vie</td>
                    <td><strong>{{ pokemon.hp }}</strong></td>
                </tr>
                <tr>
                    <td>Dégâts</td>
                    <td><strong>{{ pokemon.cp }}</strong></td>
                </tr>
                <tr>
                    <td>Types</td>
                    <td class="flex-pokemon">
                    <span *ngFor="let type of pokemon.types" class=" {{ type | pokemonTypeColor }}">{{ type }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Date de création</td>
                    <td><em>{{ pokemon.created | date:"dd/MM/yyyy" }}</em></td>
                </tr>
            </table>
        </div>
        <div class="line"></div>
        <div class="box-action-pokemon">
            <a class="action-pokemon retour-list-pokemon" (click)="goToPokemonList()">Retour</a>
            <a class="action-pokemon edit-pokemon" (click)="goToEditPokemon(pokemon)">Editer</a>
            <a class="action-pokemon suppr-pokemon" (click)="deletePokemon(pokemon)">Supprimer</a>

        </div>
    </div>
</div>
<h4 *ngIf='!pokemon' class="center">
    <app-loader></app-loader>
</h4>
    