/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*test de transitooj */

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1, .find-pokemon, h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 4em;
    text-align: center;

}
a{
    text-decoration: none;
}



.flex-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-pokemon-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-pokemon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.each-pokemon{
    display: flex;
    justify-content: space-evenly;
}
.box-shadow{
    box-shadow: 2px 7px 7px rgb(177, 177, 177);
}
.chip{
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 20px;
    margin: 3px;
    padding: 5px;
}

.navbar{
    width: 100%;
    height:auto;
    background: #379d3b;
    box-shadow: 2px 5px 5px #9e9e9e;
    margin-bottom: 20px;
    text-align: center;
}
.navbar a{
    display: inline-block;
    color: #fff;
    font-size: 2.5rem;
    margin: 5px;
}

.feu{background: #ef5350;}
.plante{background:#66bb6a}
.eau{background:#42a5f5}
.insecte{background: #8d6e63;}
.normal{background: #eeeeee ;}
.vol{background: #81d4fa;}
.poison{background: #b388ff;}
.fee{background: #f8bbd0;}
.psy{background: #512da8;}
.electrik{background: #f4ff81;}
.combat{background: #ff5722;}
.grey{background: #9e9e9e;}

.text-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width:1200px){
    .grid-pokemon{grid-template-columns: repeat(2, 1fr);}
    
}
@media screen and (max-width:800px){
    .grid-pokemon{grid-template-columns: repeat(1, 1fr);}
    
}

/* partie seul */
.flex-pokemon-column{
    display: flex;
    flex-direction: column;
}
.flex-pokemon-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.box-pokemon{
    width: 70%;
}
.detail-pokemon{width: 100%;}
.line{width: 80%; height: 2px; background: #f2F2F2; margin: auto;}
.action-pokemon{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ff5722;
    cursor: pointer;
    margin: 15px 5px 5px 0;
}



.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
    top: -100px;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ef5350;
    box-shadow: 0 0 3px 3px #f54d4d;
    overflow: hidden;
}
.add-pokemon{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 3em;
    transform: translate(-50%,-50%);
}
.box-action-pokemon{text-align: center;}


